@use "../mixins" as *;

.article-list {
  position: relative;

  &__content {
    padding: 25px 0;
    gap: 0 20px;

    @include tablet {
      gap: 20px 0;
    }
  }

  &__picture {
    display: block;
    grid-column: 5 span;
    width: 336px;
    min-height: 195px;

    @include tablet {
      grid-column: 12 span;
      width: inherit;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &__info {
    grid-column: 7 span;
    max-width: 437px;

    @include tablet {
      grid-column: 12 span;
      max-width: inherit;
    }
  }

  &__subtitle {
    display: block;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: var(--fs-12);
    line-height: 125%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
  }

  &__desc {
    margin: 0;
    margin-bottom: 20px;
  }

  &__reviews {
    opacity: 0.6;
    gap: 10px;
  }

  &__date,
  &__comment,
  &__favorite {
    align-items: center;
    font-weight: 400;
    font-size: var(--fs-12);
    line-height: 125%;
    color: var(--neutral-700);
    fill: var(--neutral-600);
    gap: 5px;
  }
}

.article-list:not(:last-child) {
  border-bottom: 1px solid var(--neutral-300);
}

.bookmark {
  position: absolute;
  right: -3px;
  top: -2px;
  fill: var(--neutral-400);
  cursor: pointer;

  &--active {
    fill: var(--color-sunset);
  }
}
