<section class="block" aria-labelledby="block-title">
  <div class="container">
    <h2 class="visually-hidden" id="block-title">Featured stories</h2>
    <div class="block__content | grid">
      <article class="blocks | block__favorite | flex-col-center">
        @include('components/favorite-slider.html')
      </article>
      <article class="blocks | block__callback">
        <div class="block__callback-info">
          <span class="subtitle | block__subtitle | bermuda">Careers</span>
          <h3 class="title | title_h3 | title_callback">Had a Job Interview but No Callback? Here’s What to Do</h3>
          <p class="desc | desc_callback">Try to understand the culture of the company where you want to work and be
            authentic in your interview, experts emphasize</p>
          <a class="btn" href="#">
            Read more
            <svg width="20" height="20" aria-hidden="true">
              <use xlink:href="img/svg/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
      </article>
      <article class="blocks | block__text">
        <div class="blocks__content | blocks__content_five">
          <h4 class="title | title_h4 | title_five">Is Coffee Bad for Bones?</h4>
          <p class="desc | desc_five">Coffee drinkers may excrete more calcium, but it doesn’t appear to weaken bones
          </p>
          <span class="blocks__date">Oct 15</span>
        </div>
      </article>
      <article class="blocks | block__text">
        <div class="blocks__content | blocks__content_six">
          <h4 class="title | title_h4 | title_six">What We Manufacture</h4>
          <p class="desc | desc_six">A global history of the factory and the modern world that all should read</p>
          <span class="blocks__date">Oct 14</span>
        </div>
      </article>
    </div>
  </div>
</section>
