<section class="hero">
  <div class="container">
    <ul class="hero__list | flex-sb">
      <li class="hero__item | flex-aj-sb">
        <a class="hero__link" href="#">
          <p>25 Songs That Tell Us Where Music Is&nbsp; Going</p>
        </a>
        <img class="hero__img" loading="lazy" src="img/hero-img/article-list1.jpg" width="65" height="65"
          alt="Illustration for music trends story">
      </li>
      <li class="hero__item | flex-aj-sb">
        <a class="hero__link" href="#">
          <p>These Ancient Assassins Eat Their Own Kind</p>
        </a>
        <img class="hero__img" loading="lazy" src="img/hero-img/article-list2.jpg" width="65" height="65"
          alt="Illustration for ancient assassins story">
      </li>
      <li class="hero__item | flex-aj-sb">
        <a class="hero__link" href="#">
          <p>How Do You Teach People to Love Difficult Music?</p>
        </a>
        <img class="hero__img" loading="lazy" src="img/hero-img/article-list3.jpg" width="65" height="65"
          alt="Illustration for difficult music story">
      </li>
      <li class="hero__item | flex-aj-sb">
        <a class="hero__link" href="#">
          <p>International Soccer’s Man of&nbsp; Mystery</p>
        </a>
        <img class="hero__img" loading="lazy" src="img/hero-img/article-list4.jpg" width="65" height="65"
          alt="Illustration for soccer mystery story">
      </li>
    </ul>
    <div class="hero__tabs">
      <div class="hero__tabs-content">
        <div
          class="tab-content | tab-content_tab1 | is-active"
          id="hero-panel-1"
          role="tabpanel"
          aria-labelledby="hero-tab-1"
        >
          <div class="tab-content__info">
            <div class="author | tab-content__author | flex-center">
              <img class="author__img" loading="lazy" src="img/avatar.png" width="45" height="45" alt="Benjamin Turner">
              <div class="author__info">
                <span class="author__name | author__name_white">By Benjamin Turner</span>
                <span class="author__post | author__post_white">Traveler</span>
              </div>
            </div>
          </div>
          <div class="tab-content__route">
            <span class="subtitle | dodger | tab-content__subtitle">Destinations</span>
            <h2 class="title | title_h2 | tab-content__title">In Southeast England, White Cliffs and Fish</h2>
            <div class="btn-wrap">
              <div class="post">
                <a class="btn | post__link" href="#">
                  Read more
                  <svg width="20" height="20">
                    <use xlink:href="img/svg/sprite.svg#arrow-right"></use>
                  </svg>
                </a>
                <div class="post__player">
                  <button type="button" class="btn-reset | post__play-icon | openModalBtn" aria-label="Play video">
                    <svg width="15" height="15" aria-hidden="true">
                      <use xlink:href="img/svg/sprite.svg#play"></use>
                    </svg>
                  </button>
                  <div class="post__text-clip">
                    <span class="post__text">The chalk cliff of Beachy Head</span>
                    <time class="post__time">18:05</time>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-content | tab-content_tab2"
          id="hero-panel-2"
          role="tabpanel"
          aria-labelledby="hero-tab-2"
          hidden
        >
          <div class="tab-content__info">
            <div class="author | tab-content__author | flex-center">
              <img class="author__img" loading="lazy" src="img/avatar.png" width="45" height="45" alt="Benjamin Turner">
              <div class="author__info">
                <span class="author__name | author__name_white">By Benjamin Turner</span>
                <span class="author__post | author__post_white">Traveler</span>
              </div>
            </div>
          </div>
          <div class="tab-content__route">
            <span class="subtitle | dodger | tab-content__subtitle">Destinations</span>
            <h2 class="title | title_h2 | tab-content__title">In Southeast England, White Cliffs and Fish</h2>
            <div class="btn-wrap">
              <div class="post">
                <a class="btn | post__link" href="#">
                  Read more
                  <svg width="20" height="20">
                    <use xlink:href="img/svg/sprite.svg#arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-content | tab-content_tab3"
          id="hero-panel-3"
          role="tabpanel"
          aria-labelledby="hero-tab-3"
          hidden
        >
          <div class="tab-content__info">
            <div class="author | tab-content__author | flex-center">
              <img class="author__img" loading="lazy" src="img/avatar.png" width="45" height="45" alt="Benjamin Turner">
              <div class="author__info">
                <span class="author__name | author__name_white">By Benjamin Turner</span>
                <span class="author__post | author__post_white">Traveler</span>
              </div>
            </div>
          </div>
          <div class="tab-content__route">
            <span class="subtitle | dodger | tab-content__subtitle">Destinations</span>
            <h2 class="title | title_h2 | tab-content__title">In Southeast England, White Cliffs and Fish</h2>
            <div class="btn-wrap">
              <div class="post">
                <a class="btn | post__link" href="#">
                  Read more
                  <svg width="20" height="20">
                    <use xlink:href="img/svg/sprite.svg#arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-content | tab-content_tab4"
          id="hero-panel-4"
          role="tabpanel"
          aria-labelledby="hero-tab-4"
          hidden
        >
          <div class="tab-content__info">
            <div class="author | tab-content__author | flex-center">
              <img class="author__img" loading="lazy" src="img/avatar.png" width="45" height="45" alt="Benjamin Turner">
              <div class="author__info">
                <span class="author__name | author__name_white">By Benjamin Turner</span>
                <span class="author__post | author__post_white">Traveler</span>
              </div>
            </div>
          </div>
          <div class="tab-content__route">
            <span class="subtitle | dodger | tab-content__subtitle">Destinations</span>
            <h2 class="title | title_h2 | tab-content__title">In Southeast England, White Cliffs and Fish</h2>
            <div class="btn-wrap">
              <div class="post">
                <a class="btn | post__link" href="#">
                  Read more
                  <svg width="20" height="20">
                    <use xlink:href="img/svg/sprite.svg#arrow-right"></use>
                  </svg>
                </a>
                <div class="post__player">
                  <button type="button" class="btn-reset | post__play-icon | openModalBtn" aria-label="Play video">
                    <svg width="15" height="15" aria-hidden="true">
                      <use xlink:href="img/svg/sprite.svg#play"></use>
                    </svg>
                  </button>
                  <div class="post__text-clip">
                    <span class="post__text">The chalk cliff of Beachy Head</span>
                    <time class="post__time">18:05</time>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-content | tab-content_tab5"
          id="hero-panel-5"
          role="tabpanel"
          aria-labelledby="hero-tab-5"
          hidden
        >
          <div class="tab-content__info">
            <div class="author | tab-content__author | flex-center">
              <img class="author__img" loading="lazy" src="img/avatar.png" width="45" height="45" alt="Benjamin Turner">
              <div class="author__info">
                <span class="author__name | author__name_white">By Benjamin Turner</span>
                <span class="author__post | author__post_white">Traveler</span>
              </div>
            </div>
          </div>
          <div class="tab-content__route">
            <span class="subtitle | dodger | tab-content__subtitle">Destinations</span>
            <h2 class="title | title_h2 | tab-content__title">In Southeast England, White Cliffs and Fish</h2>
            <div class="btn-wrap">
              <div class="post">
                <a class="btn | post__link" href="#">
                  Read more
                  <svg width="20" height="20">
                    <use xlink:href="img/svg/sprite.svg#arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__tabs-info">
        <span class="hero__tabs-text" id="hero-tabs-label">Recommended for you</span>
        <ul class="hero__tabs-list" role="tablist" aria-labelledby="hero-tabs-label">
          <li
            class="tab | tab_list1 | active"
            id="hero-tab-1"
            role="tab"
            aria-controls="hero-panel-1"
            aria-selected="true"
            tabindex="0"
          >
            <div class="tab-preview">
              <span class="tab-preview__subtitle | pelorous">Food</span>
              <p class="desc | tab-preview__desc">For Chicken-Fried Steak, Too Much Is Just Enough
                <a class="icon-play" href="#!" aria-label="Play related video"><img loading="lazy" src="img/svg/play.svg" width="20" height="20"
                    alt=""></a>
              </p>
            </div>
          </li>
          <li
            class="tab | tab_list2"
            id="hero-tab-2"
            role="tab"
            aria-controls="hero-panel-2"
            aria-selected="false"
            tabindex="-1"
          >
            <div class="tab-preview">
              <span class="tab-preview__subtitle | bermuda">Cars</span>
              <p class="desc | tab-preview__desc">Storm Has Car Dealers Doing Swift Business</p>
            </div>
          </li>
          <li
            class="tab | tab_list3"
            id="hero-tab-3"
            role="tab"
            aria-controls="hero-panel-3"
            aria-selected="false"
            tabindex="-1"
          >
            <div class="tab-preview">
              <span class="tab-preview__subtitle | lavender">Movies</span>
              <p class="desc | tab-preview__desc">War Is Hell? In New Military Dramas, It’s One-Dimensional</p>
            </div>
          </li>
          <li
            class="tab | tab_list4"
            id="hero-tab-4"
            role="tab"
            aria-controls="hero-panel-4"
            aria-selected="false"
            tabindex="-1"
          >
            <div class="tab-preview">
              <span class="tab-preview__subtitle | orange">NFL</span>
              <p class="desc | tab-preview__desc">11 surprising stat rankings for active NFL players
                <a class="icon-play" href="#!" aria-label="Play related video"><img loading="lazy" src="img/svg/play.svg" width="20" height="20"
                    alt=""></a>
              </p>
            </div>
          </li>
          <li
            class="tab | tab_list5"
            id="hero-tab-5"
            role="tab"
            aria-controls="hero-panel-5"
            aria-selected="false"
            tabindex="-1"
          >
            <div class="tab-preview">
              <span class="tab-preview__subtitle | emerald">Tech Reviews</span>
              <p class="desc | tab-preview__desc">The bookcases you can buy online and assemble yourself</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
