<section class="subscribe">
  <div class="container">
    <div class="subscribe__content">
      <h2 class="title | title_h2 | title_subscribe">Subscribe now and get 20% off</h2>
      <form action="#" class="subscribe__form | flex-aj-center">
        <label class="subscribe__label | flex-center">
          <input type="text" name="Имя" class="input-reset | subscribe__input" placeholder="Enter your email"
            autocomplete="off">
        </label>
        <button class="btn | text">Subscribe</button>
      </form>
    </div>
  </div>
</section>
