<section id="subscribe" class="subscribe">
  <div class="container">
    <div class="subscribe__content">
      <h2 class="title | title_h2 | title_subscribe">Subscribe now and get 20% off</h2>
      <form action="#" class="subscribe__form | flex-aj-center">
        <label class="subscribe__label | flex-center">
          <span class="visually-hidden">Email</span>
          <input type="email" name="email" class="input-reset | subscribe__input" placeholder="Enter your email"
            autocomplete="email" required>
        </label>
        <button type="submit" class="btn | text">Subscribe</button>
      </form>
    </div>
  </div>
</section>
