<div class="favorite-slider">
  <div class="swiper | slideFavorite">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide">
          <div class="slide__content">
            <div class="badge">
              <span class="badge__hot">Hot</span>
            </div>
            <div class="author | slide__author">
              <img class="author__img" loading="lazy" src="img/news-img/avatar4.png" width="45" height="45"
                alt="Sarah Jenkins">
              <div class="author__info">
                <span class="author__name | author__name_white">By Sarah Jenkins</span>
                <span class="author__post | author__post_white">Photographer</span>
              </div>
            </div>
            <h2 class="title | title_h2 | title_favorite">Readers' Choice winners: Your wine country favorites</h2>
            <a class="btn | slide__btn" href="#">
              <svg width="20" height="20">
                <use xlink:href="img/svg/sprite.svg#images"></use>
              </svg>
              Watch photos
              <span>26</span>
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <div class="slide__content">
            <div class="badge">
              <span class="badge__hot">Hot</span>
            </div>
            <div class="author | slide__author">
              <img class="author__img" loading="lazy" src="img/news-img/avatar4.png" width="45" height="45"
                alt="Sarah Jenkins">
              <div class="author__info">
                <span class="author__name | author__name_white">By Sarah Jenkins</span>
                <span class="author__post | author__post_white">Photographer</span>
              </div>
            </div>
            <h2 class="title | title_h2 | title_favorite">Readers' Choice winners: Your wine country favorites</h2>
            <a class="btn | slide__btn" href="#">
              <svg width="20" height="20">
                <use xlink:href="img/svg/sprite.svg#images"></use>
              </svg>
              Watch photos
              <span>26</span>
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <div class="slide__content">
            <div class="badge">
              <span class="badge__hot">Hot</span>
            </div>
            <div class="author | slide__author">
              <img class="author__img" loading="lazy" src="img/news-img/avatar4.png" width="45" height="45"
                alt="Sarah Jenkins">
              <div class="author__info">
                <span class="author__name | author__name_white">By Sarah Jenkins</span>
                <span class="author__post | author__post_white">Photographer</span>
              </div>
            </div>
            <h2 class="title | title_h2 | title_favorite">Readers' Choice winners: Your wine country favorites</h2>
            <a class="btn | slide__btn" href="#">
              <svg width="20" height="20">
                <use xlink:href="img/svg/sprite.svg#images"></use>
              </svg>
              Watch photos
              <span>26</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="favorite-pagination"></div>
  </div>
</div>
