<div class="favorite-slider">
  <!-- Swiper -->
  <div class="swiper | slideFavorite">
    <div class="swiper-wrapper">
      <!--  -->
      <div class="swiper-slide">
        <div class="slide">
          <div class="slide__content">
            <div class="badge">
              <span class="badge__hot">Hot</span>
            </div>
            <div class="autor | slide__autor">
              <img class="autor__img" loading="lazy" src="img/news-img/avatar4.png" width="45" height="45"
                alt="autor images">
              <div class="autor__info">
                <span class="autor__name | autor__name_white">By Sarah Jenkins</span>
                <span class="autor__post | autor__post_white">Photographer</span>
              </div>
            </div>
            <h2 class="title | title_h2 | title_favorite">Readers' Choice winners: Your wine country favorites</h2>
            <a class="btn | slide__btn" href="#">
              <svg width="20" height="20">
                <use xlink:href="img/svg/sprite.svg#images"></use>
              </svg>
              Watch photos
              <span>26</span>
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <div class="slide__content">
            <div class="badge">
              <span class="badge__hot">Hot</span>
            </div>
            <div class="autor | slide__autor">
              <img class="autor__img" loading="lazy" src="img/news-img/avatar4.png" width="45" height="45"
                alt="autor images">
              <div class="autor__info">
                <span class="autor__name | autor__name_white">By Sarah Jenkins</span>
                <span class="autor__post | autor__post_white">Photographer</span>
              </div>
            </div>
            <h2 class="title | title_h2 | title_favorite">Readers' Choice winners: Your wine country favorites</h2>
            <a class="btn | slide__btn" href="#">
              <svg width="20" height="20">
                <use xlink:href="img/svg/sprite.svg#images"></use>
              </svg>
              Watch photos
              <span>26</span>
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <div class="slide__content">
            <div class="badge">
              <span class="badge__hot">Hot</span>
            </div>
            <div class="autor | slide__autor">
              <img class="autor__img" loading="lazy" src="img/news-img/avatar4.png" width="45" height="45"
                alt="autor images">
              <div class="autor__info">
                <span class="autor__name | autor__name_white">By Sarah Jenkins</span>
                <span class="autor__post | autor__post_white">Photographer</span>
              </div>
            </div>
            <h2 class="title | title_h2 | title_favorite">Readers' Choice winners: Your wine country favorites</h2>
            <a class="btn | slide__btn" href="#">
              <svg width="20" height="20">
                <use xlink:href="img/svg/sprite.svg#images"></use>
              </svg>
              Watch photos
              <span>26</span>
            </a>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
    <div class="favorite-pagination"></div>
  </div>
</div>
