<div id="menu-sections" class="menu-sections" aria-label="menu-sections">
  <ul class="menu-sections__list">
    <li class="menu-sections__item"><a class="menu-sections__link" href="#">Contact Us</a></li>
    <li class="menu-sections__item"><a class="menu-sections__link" href="#">Work with Us</a></li>
    <li class="menu-sections__item"><a class="menu-sections__link" href="#">Advertise</a></li>
    <li class="menu-sections__item"><a class="menu-sections__link" href="#">Your Ad Choise</a></li>
  </ul>
</div>