<nav id="menu-mobile" class="menu-mobile | flex-col" aria-label="Mobile menu">
  <ul class="menu-mobile__list">
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#!">News</a></li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#!">Opinion</a></li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#!">Science</a></li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#!">Life</a></li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#!">Travel</a></li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#!">Money</a></li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#!">Art & Design</a></li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#!">Sports</a></li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#!">People</a></li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#!">Health</a></li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#!">Education</a></li>
    <li class="menu-mobile__sign-in">
      <a class="menu-mobile__sign-in-link | flex-center" href="#!">
        <img loading="lazy" src="img/svg/user.svg" width="20" height="20" alt="">
        <span>Sign In</span>
      </a>
    </li>
  </ul>
</nav>
