<footer class="footer">
  <div class="footer__main">
    <div class="container | footer__main-container | grid">
      <!--  -->
      <div class="footer__main-content | footer__main-content_sunset">
        <span>News</span>
        <ul class="footer__main-list">
          <li class="footer__main-item"><a href="#!">Nation</a></li>
          <li class="footer__main-item"><a href="#!">World</a></li>
          <li class="footer__main-item"><a href="#!">Politics</a></li>
          <li class="footer__main-item"><a href="#!">Solar Eclipse</a></li>
        </ul>
      </div>
      <!--  -->
      <div class="footer__main-content | footer__main-content_lavender">
        <span>Arts</span>
        <ul class="footer__main-list">
          <li class="footer__main-item"><a href="#!">Art & Design</a></li>
          <li class="footer__main-item"><a href="#!">Movies</a></li>
          <li class="footer__main-item"><a href="#!">People</a></li>
          <li class="footer__main-item"><a href="#!">Video: Arts</a></li>
          <li class="footer__main-item"><a href="#!">Theater</a></li>
        </ul>
      </div>
      <!--  -->
      <div class="footer__main-content | footer__main-content_dodger">
        <span>Travel</span>
        <ul class="footer__main-list">
          <li class="footer__main-item"><a href="#!">Destinations</a></li>
          <li class="footer__main-item"><a href="#!">Flights</a></li>
          <li class="footer__main-item"><a href="#!">Business Travel</a></li>
        </ul>
      </div>
      <!--  -->
      <div class="footer__main-content | footer__main-content_orange">
        <span>Sports</span>
        <ul class="footer__main-list">
          <li class="footer__main-item"><a href="#!">Olympics</a></li>
          <li class="footer__main-item"><a href="#!">Motor Sports</a></li>
          <li class="footer__main-item"><a href="#!">Volleyball</a></li>
          <li class="footer__main-item"><a href="#!">MMA</a></li>
          <li class="footer__main-item"><a href="#!">Cycling</a></li>
        </ul>
      </div>
      <!--  -->
      <div class="footer__main-content | footer__main-content_emerald">
        <span>Tech</span>
        <ul class="footer__main-list">
          <li class="footer__main-item"><a href="#!">Tech</a></li>
          <li class="footer__main-item"><a href="#!">Tech Columnists</a></li>
          <li class="footer__main-item"><a href="#!">Tech Reviews</a></li>
          <li class="footer__main-item"><a href="#!">Talking Tech</a></li>
        </ul>
      </div>
      <!--  -->
      <div class="footer__main-content | footer__main-content_bermuda">
        <span>Moneys</span>
        <ul class="footer__main-list">
          <li class="footer__main-item"><a href="#!">Markets</a></li>
          <li class="footer__main-item"><a href="#!">Business</a></li>
          <li class="footer__main-item"><a href="#!">Personal Finance</a></li>
          <li class="footer__main-item"><a href="#!">Retirement</a></li>
          <li class="footer__main-item"><a href="#!">Careers</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="footer__contacts">
    <div class="container">
      <div class="footer__contacts-content | flex-center">
        <img loading="lazy" src="img/svg/symbol.svg" width="50" height="50" alt="icon-UNV">
        <nav class="footer__nav" aria-label="footer-navigation">
          <ul class="footer__list | flex-center">
            <li class="footer__item"><a class="footer__link" href="#!">Contact Us</a></li>
            <li class="footer__item"><a class="footer__link" href="#!">Work with Us</a></li>
            <li class="footer__item"><a class="footer__link" href="#!">Advertise</a></li>
            <li class="footer__item"><a class="footer__link" href="#!">Your Ad Choise</a></li>
          </ul>
        </nav>
        <ul class="social | flex-center">
          <li class="social__item | facebook">
            <a class="social__link | flex" href="#" aria-label="Facebook">
              <img loading="lazy" src="img/svg/social/facebook.svg" width="40" height="40" alt="">
            </a>
          </li>
          <li class="social__item | twitter">
            <a class="social__link | flex" href="#" aria-label="Twitter">
              <img loading="lazy" src="img/svg/social/twitter.svg" width="40" height="40" alt="">
            </a>
          </li>
          <li class="social__item | youtube">
            <a class="social__link | flex" href="#" aria-label="YouTube">
              <img loading="lazy" src="img/svg/social/youtube.svg" width="40" height="40" alt="">
            </a>
          </li>
          <li class="social__item | instagram">
            <a class="social__link | flex" href="#" aria-label="Instagram">
              <img loading="lazy" src="img/svg/social/instagram.svg" width="40" height="40" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-content">
        <p class="desc | footer__bottom-desc">Universal’s business concept is to offer fashion and quality at the best price in
          a sustainable way. Universal has since it was founded in 2015 grown into one of the world's leading fashion
          companies. </p>
        <span class="footer__bottom-copy">&copy; 2019 Universal UI Kit</span>
      </div>
    </div>
  </div>
  <!--  -->
  <!--  -->
  <!--  -->
  <div
    class="modal | videoModal"
    id="video-modal"
    role="dialog"
    aria-modal="true"
    aria-label="Video player"
    aria-hidden="true"
  >
    <div class="modal-content">
      <button type="button" class="btn-reset | close" id="closeModalBtn" aria-label="Close video">&times;</button>
      <video class="videoPlayer" width="560" height="315" poster="img/poster.jpg" controls>
        <source src="Beachy-England.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</footer>
