<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-content | flex-center">
        <button
          type="button"
          id="burger-sections"
          class="btn-reset | burger-sections | flex-center"
          aria-label="Open sections menu"
          aria-controls="menu-sections"
          aria-expanded="false"
        >
          <span class="burger | flex-col-sb" aria-hidden="true">
            <span class="burger__line"></span>
            <span class="burger__line | burger__line_small"></span>
            <span class="burger__line"></span>
          </span>
          <span class="burger-sections__text">Sections</span>
        </button>
        <button
          type="button"
          id="burger-mobile"
          class="btn-reset | burger-mobile | flex-col-sb"
          aria-label="Open mobile menu"
          aria-controls="menu-mobile"
          aria-expanded="false"
        >
          <span class="burger-mobile__line" aria-hidden="true"></span>
          <span class="burger-mobile__line | burger-mobile__line_small" aria-hidden="true"></span>
          <span class="burger-mobile__line" aria-hidden="true"></span>
        </button>
        <div class="header__search | flex-center">
          <form action="#" class="search" role="search">
            <label class="search__label">
              <span class="visually-hidden">Search</span>
              <img class="search-icon" loading="lazy" src="img/svg/search.svg" width="20" height="20" alt="">
              <input type="search" name="q" class="input-reset | search__input" placeholder="Search..."
                autocomplete="off">
            </label>
          </form>
        </div>
        <a class="header__subscribe | flex-center" href="#subscribe">
          <img loading="lazy" src="img/subscribe-img.jpg" width="60" height="41" alt="">
          <span class="header__subscribe-text">
            Subscribe Now
            <span>3 month for $19</span>
          </span>
        </a>
        <a class="header__sign-in | flex-center" href="#!">
          <img loading="lazy" src="img/svg/user.svg" width="20" height="20" alt="">
          Sign In
        </a>
      </div>
      @include('layout/components/menu-sections.html')
    </div>
  </div>
  <div class="header__menu">
    <div class="container">
      <div class="header__menu-content | flex-center">
        <div class="header__menu-left | flex-center">
          <div class="header__menu-images">
            <img class="header__menu-image" loading="lazy" src="img/the-statue-of-liberty.png" width="100" height="84"
              alt="">
          </div>
          <span class="header__menu-city">Boston and New York Bear Brunt</span>
        </div>
        <h1 class="visually-hidden">Universal</h1>
        <a class="header__menu-logo" href="./">
          <img class="logo" loading="lazy" src="img/svg/logo.svg" width="184" height="40" alt="Universal">
        </a>
        <div class="header__menu-right | flex">
          <time class="header__menu-date" datetime="2018-01-01">Monday, January 1, 2018</time>
          <div class="header__menu-weather | flex-center">
            <img class="weather-sun" loading="lazy" src="img/svg/sun.svg" width="18" height="18" alt="">
            <span>&thinsp;-&thinsp; 23 °C</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <nav class="menu | flex-center" aria-label="Main navigation">
        <ul class="menu__list">
          <li><a class="menu__link" href="#!">News</a></li>
          <li><a class="menu__link" href="#!">Opinion</a></li>
          <li><a class="menu__link" href="#!">Science</a></li>
          <li><a class="menu__link" href="#!">Life</a></li>
          <li><a class="menu__link" href="#!">Travel</a></li>
          <li><a class="menu__link" href="#!">Moneys</a></li>
          <li><a class="menu__link" href="#!">Art & Design</a></li>
          <li><a class="menu__link" href="#!">Sports</a></li>
          <li><a class="menu__link" href="#!">People</a></li>
          <li><a class="menu__link" href="#!">Health</a></li>
          <li><a class="menu__link" href="#!">Education</a></li>
        </ul>
      </nav>
    </div>
  </div>
  @include('layout/components/menu-mobile.html')
  <div id="cover" class="cover"></div>
</header>
