<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- favicon -->
  <link rel="icon" href="favicon/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png">
  <link rel="manifest" href="favicon/manifest.json">
  <meta name="theme-color" content="#ffffff">
  <!--  -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Universal</title>
  <!-- fonts -->
  <link rel="preload" href="fonts/LatoRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/LatoHeavy.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/LatoHeavyItalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/RobotoSlabBold.woff2" as="font" type="font/woff2" crossorigin>
  <!-- reset style -->
  <link rel="stylesheet" href="css/vendor.css">
  <!-- style -->
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
